*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f4f7fc;
}

.dashboard{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:280px;
    min-width:280px;
    background:#1e3a8a;
    color:#fff;
    padding:25px;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
    font-size:22px;
    margin-bottom:40px;
    white-space: nowrap;
}

.logo i{
    font-size:32px;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    padding:15px;
    margin-bottom:12px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

.sidebar ul li:hover{
    background:rgba(255,255,255,.15);
}
